@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'MyCustomFont';
  src: url('/assets/font/Urbanist Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TitleCustomFont';
  src: url('/assets/font/batmfa-1.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* 禁止滚动 */
}

body {
  /* font-family: 'MyCustomFont', sans-serif; */
}

html {
  font-size: 100%; /* 默认 16px */
}

.title-font{
  font-family: 'TitleCustomFont', sans-serif;
}

.introduce-bg{
  background-position: 0 -200px;

}

@media (max-width: 640px) {
  .introduce-bg{
    background-position: -350px -20px;
  }
}


/* 
@media (max-width: 1024px) {
  html {
    font-size: 87.5%; 
  }
}

@media (max-width: 768px) {
  html {
    font-size: 81.25%; 
  }
}


@media (min-width: 1920px) {
  html {
    font-size: 112.5%; 
  }
}


@media (min-width: 2560px) {
  html {
    font-size: 125%;
  }
} */

/* 整体部分 */
::-webkit-scrollbar {
  width: 12px; /* 滚动条的宽度 */
  height: 12px; /* 滚动条的高度，对水平滚动条有效 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 轨道的背景色 */
}

/* 滚动条手柄 */
::-webkit-scrollbar-thumb {
  background: #888; /* 手柄的背景色 */
  border-radius: 6px; /* 手柄的圆角 */
  border: 2px solid #f1f1f1; /* 给手柄添加边框 */
}

/* 滚动条手柄悬停效果 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 手柄悬停时的背景色 */
}

.button-anmima {
  display: inline-block;
  cursor: pointer;
  position: relative;
  outline: 0;
  transition: transform ease-in 0.1s, background-color ease-in 0.1s,
    box-shadow ease-in 0.25s;
}

.button-anmima::before {
  position: absolute;
  content: "";
  left: -2em;
  right: -2em;
  top: -2em;
  bottom: -2em;
  pointer-events: none;
  transition: ease-in-out 0.5s;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%),
    radial-gradient(circle, #9f64ff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%, 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
    20% 20%;
  background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
    65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
    64% 70%, 80% 71%;
  animation: bubbles ease-in-out 0.75s forwards;
  -webkit-animation: bubbles ease-in-out 0.75s forwards;
}

.button-anmima:active {
  transform: scale(0.95);
  /* background-color: #f3037c; */
  box-shadow: 0 2px 25px rgba(233, 30, 99, 0.5);
}
.button-anmima:active::before {
  animation: none;
  background-size: 0;
}
@keyframes bubbles {
  0% {
    background-position: 18% 40%, 20% 31%, 30% 30%, 40% 30%, 50% 30%, 57% 30%,
      65% 30%, 80% 32%, 15% 60%, 83% 60%, 18% 70%, 25% 70%, 41% 70%, 50% 70%,
      64% 70%, 80% 71%;
  }
  50% {
    background-position: 10% 44%, 0% 20%, 15% 5%, 30% 0%, 42% 0%, 62% -2%,
      75% 0%, 95% -2%, 0% 80%, 95% 55%, 7% 100%, 24% 100%, 41% 100%, 55% 95%,
      68% 96%, 95% 100%;
  }
  100% {
    background-position: 5% 44%, -5% 20%, 7% 5%, 23% 0%, 37% 0, 58% -2%, 80% 0%,
      100% -2%, -5% 80%, 100% 55%, 2% 100%, 23% 100%, 42% 100%, 60% 95%, 70% 96%,
      100% 100%;
    background-size: 0% 0%;
  }
}